name: Nightly build

on:
    workflow_dispatch:
    push:
      branches:
        [develop]
    pull_request:
      branches:
        [develop]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                fetch-depth: 0

            - run: sudo apt install curl

            - uses: actions/setup-dotnet@v4
              with:
                dotnet-version: |
                  6.x
                  9.x
                  
            - name: Get version
              id: version_step
              uses: KageKirin/get-csproj-version@v1.0.0
              with:
                file: CementGB.Mod/CementGB.Mod.csproj

            - run: |
                cp README.md dist/README.md
                dotnet build CementMod --configuration Release /p:VersionSuffix=-ci.${{ github.run_number }}

            - uses: actions/upload-artifact@v4
              if: ${{ !env.ACT }}
              with: 
                name: output-artifact
                path: ./dist/*
                overwrite: true