name: Release new Cement version

on:
    workflow_dispatch:
    push:
      branches: 
        [master]
jobs:
    publish:
        runs-on: ubuntu-latest
        permissions: write-all
        steps:
        - name: Checkout
          uses: actions/checkout@v4
          with:
            fetch-depth: 0
            filter: tree:0

        - uses: actions/setup-dotnet@v4
          with:
            dotnet-version: |
              6.x
              9.x

        - run: |
            sudo apt install curl
            sudo apt install zip

        - name: Get version
          id: version_step
          uses: KageKirin/get-csproj-version@v1.0.0
          with:
            file: CementGB.Mod/CementGB.Mod.csproj

        - run: |
            dotnet build --configuration Release
            cp README.md dist/README.md
            cd dist; zip -r ../CementGB-CementGB-${{ steps.version_step.outputs.version }}.zip *

        - uses: marvinpinto/action-automatic-releases@latest
          if: ${{ !env.ACT }}
          with:
            repo_token: ${{ secrets.GITHUB_TOKEN }}
            automatic_release_tag: v${{ steps.version_step.outputs.version }}
            prerelease: false
            title: v${{ steps.version_step.outputs.version }}
            files: |
              CementGB-CementGB-${{ steps.version_step.outputs.version }}.zip
              dist/Mods/CementGB.dll
        
        - uses: dhkatz/thunderstore-publish@v1.0.1
          continue-on-error: true
          if: ${{ !env.ACT }}
          with:
            token: ${{ secrets.TS_TOKEN }}
            namespace: CementGB
            name: CementGB
            version: ${{ steps.version_step.outputs.version }}
            communities: gang-beasts
            categories: |
              Tools
              Libraries
              Mods
            file: CementGB-CementGB-${{ steps.version_step.outputs.version }}.zip